{% include calculate_relative_base.html %}
{% include escape-404.html %}

<link id="favicon" rel="icon" href="{{ relativebase }}assets/img/favicon/favicon.ico" type="image/x-icon">
<link id="apple-icon-1" rel="apple-touch-icon" href="{{ relativebase }}assets/img/favicon/favicon.ico">
<link id="apple-icon-2" rel="apple-touch-icon" sizes="72x72" href="{{ relativebase }}assets/img/favicon/favicon.ico">
<link id="apple-icon-3" rel="apple-touch-icon" sizes="114x114" href="{{ relativebase }}assets/img/favicon/favicon.ico">

<script>
    (function () {
        const today = new Date();
        const month = today.getMonth() + 1;
        const date = today.getDate();

        const baseUrl = "{{ relativebase }}assets/img/favicon/";
        let faviconName = "favicon.ico";

        // --- [날짜별 파비콘 설정 영역] ---
        if (month == 11 && date == 17) { faviconName = "favicon_aespa.ico"; }
        else if (month == 4 && date == 11) { faviconName = "favicon_karina.ico"; }
        else if (month == 10 && date == 30) { faviconName = "favicon_giselle.ico"; }
        else if (month == 1 && date == 1) { faviconName = "favicon_winter.ico"; }
        else if (month == 10 && date == 23) { faviconName = "favicon_ningning.ico"; }

        if (faviconName !== "favicon.ico") {
            const finalUrl = baseUrl + faviconName;

            document.getElementById("favicon").setAttribute("href", finalUrl);
            document.getElementById("apple-icon-1").setAttribute("href", finalUrl);
            document.getElementById("apple-icon-2").setAttribute("href", finalUrl);
            document.getElementById("apple-icon-3").setAttribute("href", finalUrl);
        }
    })();
</script>